.leaderboard {
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
.entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.name {
  flex: 0 0 auto;
  margin-right: 10px;
}

.line {
  flex-grow: 1;
  border-bottom: 1px solid #000;
  margin-right: 10px;
}

.score {
  flex: 0 0 auto;
}
 

.ppp{
  font-size: 50px;
}