{% extends "layout.html" %}

{% block title %}Learn{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-center mb-5">Explore Quizzes</h1>

        <form action="{% url 'explore-quizzes' %}" method="GET" class="mb-5">
            <div class="input-group mb-3">
                <label class="input-group-text" for="level">Level</label>
                <select class="form-select" id="level" name="level">
                    <option value="" {% if not request.GET.level %}selected{% endif %}>All</option>
                    {% for level in valid_levels %}
                    <option value="{{ level }}" {% if request.GET.level == level|stringformat:"s" %}selected{% endif %}>{{ level }}</option>
                    {% endfor %}
                </select>
            </div>
  

            <div class="input-group mb-3">
                <label class="input-group-text" for="title">Title</label>
                <input type="text" list="title-list" class="form-control" name="title" value="{{ request.GET.title }}" />
                <datalist id="title-list">
                    <select class="form-select" id="title">
                        {% for title in titles %}
                        <option value="{{ title }}">{{ title }}</option>
                        {% endfor %}
                    </select>
                </datalist>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="tutor">Tutor</label>
                <input type="text" list="tutor-list" class="form-control" name="tutor" value="{{ request.GET.tutor }}" />
                <datalist id="tutor-list">
                    <select class="form-select" id="tutor">
                        {% for tutor in tutors %}
                        <option value="{{ tutor.username }}">{{ tutor.username }}</option>
                        {% endfor %}
                    </select>
                </datalist>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="row g-4">
            {% for question_sheet in question_sheets %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card h-100 shadow-lg">
                        <div class="card-body">
                            <h3 class="card-title">{{ question_sheet.title }}</h3>
                            <h5 class="text-muted mb-2">Tutor: {{ question_sheet.tutor }}</h5>
                            <h5 class="text-muted mb-2">Level: {{ question_sheet.level }}</h5>
                            <div class="edit-inspect d-flex align-items-center justify-content-between flex-wrap gap-2">
                                <a href="{% url 'question_sheet_by_id' question_sheet.id %}" class="btn flex-grow-1 btn-primary mt-auto" 
                                
                                ">Attempt</a>
                                
                                <a href="{% url 'leaderboard_by_id' question_sheet.id %}" class="btn btn-success flex-grow-1 mt-2"
                                ">Leaderboard</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


