{% extends "layout.html" %}

{% block title %}Learn{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-center mb-5">Explore Quizzes</h1>
        <div class="row g-4">
            {% for question in questions %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card h-100 shadow-lg">
                        <div class="card-body">
                            <h4 class="card-title">{{ question.title }}</h4>
                            <h5 class="text-muted mb-2">Tutor: {{ question.tutor }}</h5>
                            <h5 class="text-muted mb-2">Level: {{ question.level }}</h5>
                            <div class="edit-inspect"
                            style="
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            ">
                                <a href="{% url 'question_sheet_by_id' question.id %}" class="btn btn-primary btn-lg mt-auto" 
                                style="
                                width: 45%;
                                ">Attempt</a>
                                
                                <a href="{% url 'leaderboard_by_id' question.id %}" class="btn btn-success btn-lg" style="
                                width: 45%;
                                ">Leaderboard</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


