{% extends "layout.html" %}

{% block title %}Tutor - Profile{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-1 text-center mb-3">{{ tutor.username}}</h1>
        <h3 class="text-center fw-light">{{ tutor.date_joined|date:"d-M-Y" }}</h3>
        <h2 class="display-4 text-center mb-5">What you done;</h2>

        <a href="{% url 'create_question_sheet' %}" 
        class="btn btn-success btn-lg mx-2 mb-5"
        style="
        width: 100%;
        ">Create Sheet</a>

        <div class="row g-4">
            {% for question_sheet in questions_sheet %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card h-100 shadow-lg">
                        <div class="card-body">
                            <h3 class="card-title"><a class="text-info text-decoration-none" href="{% url 'question_sheet_by_id' question_sheet.id %}">{{ question_sheet.title }}</a></h3>
                            <h5 class="text-muted mb-2">Level: {{ question_sheet.level }}</h5>

                            <div class="edit-delete d-flex flex-wrap align-items-center gap-3">
                                <a href="{% url 'edit_sheet' question_sheet.id %}" class="btn flex-grow-1 btn-primary  mt-auto">Edit</a>
                                <a href="{% url 'delete_sheet' question_sheet.id %}" class="btn flex-grow-1 btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

