{% extends "layout.html" %}

{% block title %}Tutor Registration{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Logged Out</h2>
            </div>
            
            <div class="card-body">
                <p class="display-5 mb-5">Do you really want to log out?</p>
                <div class="card-body" 
                style="
                display: flex;
                align-items: center;
                ">
                    <a href="{% url 'home' %}" class="btn btn-success btn-lg">Cancel</a>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-lg mx-4" type="submit">Log Out</button>
                    </form>
                </div>                    
            </div>
        </div>
    </div>
{% endblock %}
