{% extends "layout.html" %}

{% block title %}Digital ilm{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <h1 class="display-4">Welcome to Digital Ilm</h1>
                <h2 class="lead">Learn and Teach.</h2>
                <div class="mt-4">
                    
                    {% if user.is_authenticated %}
                        <a href="{% url 'create_question_sheet' %}" class="btn btn-primary btn-lg mx-2">Create Sheets</a>
                        <a href="{% url 'explore-quizzes' %}" class="btn btn-success btn-lg mx-2">Browse Questions</a>
                        
                    {% else %}
                        <a href="{% url 'explore-quizzes' %}" class="btn btn-primary btn-lg mx-2">Browse Questions</a>
                        <a href="{% url 'register' %}" class="btn btn-success btn-lg mx-2">Become a Tutor</a>
                    {% endif %}  
                </div>
            </div>
        </div>
    </div>
{% endblock %}